/* Main global styles */

:root {
  --color-background: #9B8DA6;
  --color-navbar: #3F3446;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #DEDEDE;
  --color-interact-primary: #FFD5B1;
  --color-interact-secondary: #6D5D7A;
  --color-interact-tertiary: #B5ABBE;

  --text-size-sm: 16pt;
  --text-size-md: 36pt;
  --text-size-lg: 56pt;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

html {
    scrollbar-gutter: stable;
}

a {
    all: unset;
}
