/* Main global styles */

:root {
  --color-background: #464269;
  --color-navbar: #1F2131;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #EDEBEE;
  --color-interact-primary: #FFD5B1;
  --color-interact-secondary: #6D5D7A;
  --color-interact-tertiary: #8984B8;

  --text-size-sm: 12pt;
  --text-size-md: 24pt;
  --text-size-lg: 48pt;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

html {
    scrollbar-gutter: stable;
}

a {
    all: unset;
}
